<ion-header>
  <ion-navbar>
    <ion-title>Slot Booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-item>
    <ion-label>April, 2018</ion-label>
    <ion-datetime (ngModelChange)="loadTimings($event)" displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item> -->
  <div class="top-bar">
    <div class="center datecls">April, 2018</div>
    <div class="btn-group-cls">
      <button [class.active-cls]="type == 1" (click)="loadTimings('today')" class="btns btn-cls br1">
        <span>Today</span>
        <br>
        <span>Monday</span>
      </button>
      <button [class.active-cls]="type == 2" (click)="loadTimings('tomorrow')" class="btns btn-cls">
        <span>Tomorrow</span>
        <br>
        <span>Tuesday</span>
      </button>
    </div>
  </div>
  <ul class="slotul">
    <h4 class="center">Slot Timings</h4>
    <!-- slot.slot_time | date : 'hh:mm a' -->
    <button *ngFor="let slot of slotTimings" (click)="goToBook(slot)" class="btn btn-outline-secondary slotbooked" typ
      e="button">{{slot.time | date : 'hh:mm a'}}</button>
  </ul>
</ion-content>