page-pre-slot-booking {
    $bezier: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    $time: 300ms;
    .item-md {
        padding: 0;
    }
    h4,
    .datetime-text,
    .label-md {
        color: white !important;
    }
    ion-content,
    .item-md {
        background-color: #181819 !important; //url('./../assets/imgs/gulf6.jpg');
    }
    .label {
        text-align: left;
    }
    .slotul {
        display: inline-block;
        padding: 5px;
        text-align: center;
        margin: 0;
        margin-bottom: 0px;
        width: 100%;
    }
    .slotbooked {
        list-style: none;
        padding: 10px;
        border: 1px solid #8e8988;
        margin-right: 10px;
        margin-top: 15px;
        font-weight: 600;
        min-height: 30px;
        background: #524e4e4a;
        border-radius: 4px;
        color: white;
    }
    .btns {
        border: 0;
        background-color: transparent;
        padding: 15px;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .0875em;
        font-weight: 500;
        color: #ffffff;
        outline: 0;
        transition: background-color $time $bezier, color $time $bezier;
    }
    .bbtnstn:focus,
    .btns:active,
    .btns:hover {
        background-color: #6EB1FF;
        color: white;
    }
    .active-cls{
        background-color: #6EB1FF !important;
        color: white !important;   
    }
    .btn-cls {
        width: calc(50% - 10px);
    }
    .datecls {
        color: white;
        padding: 20px;
    }
    .top-bar {
        background: #201e29;
    }
}