<ion-content padding class="login-content">
  <div class="lc-block toggled" id="l-login">
    <div align="center" style="margin: 10px;">
      <img src="assets/imgs/logo-tips.jpg">
    </div>

    <div class="input-group m-b-20" *ngIf="loginFlg">
      <span class="input-group-addon">
        <i class="md md-person"></i>
      </span>

      <div class="fg-line">
        <input [(ngModel)]="userId" type="text" class="form-control" placeholder="Member ID" value="" id="userName">
        <span *ngIf="memFlg" class="err">Member ID is required</span>
      </div>
    </div>

    <div class="input-group m-b-20" *ngIf="loginFlg">
      <span class="input-group-addon">
        <i class="md md-lock"></i>
      </span>

      <div class="fg-line">
        <input [(ngModel)]="mobile" type="text" class="form-control" placeholder="Mobile Number" value="" id="password">
        <span *ngIf="mobilFlg" class="err">Mobile no is required</span>
      </div>
    </div>

    <div class="input-group m-b-20" *ngIf="!loginFlg">
      <span class="input-group-addon">
        <i class="md md-lock"></i>
      </span>

      <div class="fg-line">
        <input type="text" [(ngModel)]="enteredOtp" class="form-control" placeholder="Enter OTP" value="" id="otp">
        <span *ngIf="otpFlg" class="err">OTP is required</span>
      </div>
    </div>

    <a *ngIf="loginFlg" (click)="login(userId,mobile)" class="btn btn-login btn-danger btn-float">
      <i class="md md-arrow-forward"></i>
    </a>
    <a *ngIf="!loginFlg" (click)="checkOTP(enteredOtp)" class="btn btn-login btn-danger btn-float">
      <i class="md md-arrow-forward"></i>
    </a>
  </div>
</ion-content>