<div class="title-bar">
  Select Session
</div>

<div class="title-content">
  <ion-list>
    <div class="item-left" (click)="register(session)" *ngFor="let session of sessionList">
      <span class="clr">{{session.session_name}} {{session.session_time}}</span>
    </div>
  </ion-list>
  <div class="footer-btn">
    <button (click)="cancel()" ion-button class="btn btn-cls">Cancel</button>
  </div>
</div>

<!-- <ion-footer padding>
  <button (click)="cancel()" ion-button class="btn btn-cls">Cancel</button>
</ion-footer> -->