session-select {
    .title-bar {
        height: 40px;
        text-align: center;
        background: gray;
        color: white;
        padding: 10px;
        margin: 0 -20px;
    }
    .btn-cls {
        width: calc(100% - 10px);
        background: #488aff;
    }
    .clr {
        color: black;
    }
    ion-footer {
        padding: 0 16px !important;
    }
    .title-content {
        margin-top: 10px;
        min-height : 180px;
    }
    .item-left {
        padding: 10px;
        font-size: 13px;
        border-bottom: 1px solid gainsboro;
    }
}