<ion-header>

  <ion-navbar class="custom-txtcolor">
      <ion-buttons end>
          <button ion-button color="light" (click)="viewCtrl.dismiss('')"> 
            <ion-icon name="close"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>Members</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-toolbar color="light">
    <ion-searchbar [(ngModel)]="searchItem" class="search-bar" color="danger" (ionInput)="onInputGet($event)"> </ion-searchbar>
    <button ion-button outline class="clear-btn" (click)="onCancel()">Clear</button>
  </ion-toolbar>

  <ion-scroll scrollY="true">
    <ion-list>
        <div *ngFor="let option of options | slice:0:100">
          <div class="multiselect" (click)="getOption(option)">
            <ion-icon name="checkmark" [hidden]="!option.checked" class="check-cls"></ion-icon>
            <div class="country_cls"> {{option.member_name}} </div>
        </div>
        </div>
    </ion-list>
  </ion-scroll>
</ion-content>

<!-- <ion-footer>
    <button ion-button full class="cancel-btn" (click)="submitOptions()">Sumbit</button>
</ion-footer> -->
