<ion-header>

  <ion-navbar>
    <ion-title>Rewards</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="bg-apply"></div>
  <div class="wrapper">
    <div class="cols-cls">
      <div class="col" *ngFor="let item of tournamentsList;let index=index;" ontouchstart="this.classList.toggle('hover');">
        <div class="container-cls">
          <div class="front" style="background-image: url('assets/imgs/gulf1.jpg')">
            <div class="inner">
              <p>{{item.tournament}}</p>
              Club Name:&nbsp;&nbsp;
              <span>{{item.club}}</span>
              <br> Course Name:&nbsp;&nbsp;
              <span>{{item.course}}</span>
              <br>
              <span>Entry Fee: &nbsp;&nbsp; {{item.entryfee}}</span>
              <br>
              <span>{{item.tour_date | date : 'dd MMM yyyy'}}</span>
            </div>
          </div>
          <div class="back">
            <!-- <span class="slot_cls">{{item.slno}}</span> -->
            <div class="inner">
              <div class="inner-content">
                <div class="first">
                  <span class="img-span">
                    <img [src]="imagUrl + item.image" alt="">
                  </span>
                </div>
                <div class="second">
                  <p *ngIf="item.sponsor != 'null'">
                    {{(!item.sponsor || item.sponsor == 'null') ? '' : item.sponsor}}
                  </p>
                  <span>Rounds: &nbsp;&nbsp; {{item.noofrounds}}</span>
                  <br>
                  <span>Handicap for Male: &nbsp;&nbsp; {{item.maxhcformale}}</span>
                  <br>
                  <span>Handicap for Female: &nbsp;&nbsp; {{item.maxhcforfemale}}</span>
                  <br>
                </div>
              </div>
              <!-- <button ion-button class="btn">{{item.registerationStatus ? 'Cancel' : 'Book'}}</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
