<ion-header>
  <ion-navbar>
    <ion-title>
      JWGC
    </ion-title>
    <!-- <ion-icon (click)="common.logout()" class="logout" name="power"></ion-icon> -->
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <div class="wrapper">
    <h3 class="wel_cls">Welcome {{common?.authData?.member_name}}</h3>
    <div class="cols-cls">
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container-cls">
          <div class="front" style="background-image: url('assets/imgs/gulf1.jpg')">
            <div class="inner">
              <p>Slot Booking</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <button ion-button (click)="goPage(1)" class="btn">Book Slot</button>
              <button ion-button (click)="gobookings()" class="btn">My Bookings</button>
              <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              </p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container-cls">
          <div class="front" style="background-image: url('assets/imgs/gulf2.jpg')">
            <div class="inner">
              <p>Tournament</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner" (click)="goPage(2)">
              <p>Click here to book your tournaments
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container-cls">
          <div class="front" style="background-image: url('assets/imgs/gulf3.jpg')">
            <div class="inner">
              <p>Rewards</p>
              <span></span>
            </div>
          </div>
          <div class="back" (click)="goPage(3)">
            <div class="inner">
              <p>Click here to show completed tournaments
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container-cls">
          <div class="front" style="background-image: url('assets/imgs/gulf4.jpg')">
            <div class="inner">
              <p>Score Card</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner" (click)="goPage(4)">
              <p>Click here to Know your Scores
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container-cls">
          <div class="front" style="background-image: url('assets/imgs/gulf4.jpg')">
            <div class="inner">
              <p>Accounts</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner" (click)="goPage(5)">
              <p>Click here to view your accounts
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container-cls">
          <div class="front" style="background-image: url('assets/imgs/gulf4.jpg')">
            <div class="inner">
              <p>Notifications</p>
              <span></span>
            </div>
          </div>
          <div class="back">
            <div class="inner" (click)="goPage(6)">
              <p>Click here to show your notifications
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>