page-mybookings {
    .date {
        float: right; // padding: 5px;
        color: rgb(143, 138, 138);
    }
    ion-content {
        background: #181819 !important;
        background-color: #181819 !important;
    }
    .card-md {
        background: transparent !important;
        color: white;
    }

    .padcls{
        padding: 5px;
    }
}