<ion-header>

  <ion-navbar>
    <ion-title>My Bookings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let item of bookingList">
    <ion-card-content>
      <div class="padcls">{{item.club}}</div>
      <span class="padcls">{{item.booked_member_name}}</span>
      <span class="date">{{item.slot_date +' '+ item.slot_time}}</span>
      <br>
      <br>
      <span class="padcls2" *ngFor="let mem of item[item.slot_id]">
        {{mem.member_name}},
      </span>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="bookingList.length==0">
    <ion-card-content>
      <div class="padcls center">There is no bookings.</div>
    </ion-card-content>
  </ion-card>
</ion-content>