<ion-header>
  <ion-navbar>
    <ion-title>Accounts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="card-cls" *ngFor="let item of accountsList">
    <div class="card-bg bg-cls"></div>
    <div class="card-content">
      <div class="title">{{item.member_name}}</div>
      <div class="title">{{item.tournament}}, {{item.tour_year}}</div>
      <div class="title">Tournament Fee: {{item.tour_fee}}</div>
      <div class="title">{{item.club}}</div>
      <div class="date">{{item.debit_on + ' ' + item.debit_at}}</div>
    </div>
  </div>
  <ion-card *ngIf="accountsList.length==0">
    <ion-card-content>
      <div class="padcls center">There is no data available.</div>
    </ion-card-content>
  </ion-card>
</ion-content>