page-accounts {
    .date {
        float: right;
        padding: 5px;
        color: rgb(143, 138, 138);
    }
    ion-content {
        background: #181819 !important;
        background-color: #181819 !important;
    }
    .card-content {
        color: white;
        font-weight: 500;
        padding: 15px;
    }
    .title {
        color: white;
    }
    .bg-cls {
        background: url(./../../assets/imgs/golf_accounts.jpg) no-repeat;
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        background-size: cover;
        position: absolute;
        background-position: 100% 50%;
        opacity: 0.1;
    }
    .card-cls {
        position: relative;
        border-radius: 10px;
        border: 1px solid rgb(66, 66, 66);
        float: left;
        width: 100%;
        margin: 5px 0;
    }
}