@font-face {
    font-family: 'Ubuntu Light';
    src: url('./../assets/fonts/Ubuntu/Ubuntu-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('./../assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body,
ion-app.md {
    font-family: "Ubuntu Light" !important;
}

.card-ios{
    background: inherit !important;
    background-color: inherit !important;
}

ion-title {
    text-align: center;
}

.toolbar-title-md {
    color: white;
}

.toolbar-background {
    background: #171F44;
}

.bg {
    // background: url(./../assets/imgs/gulf6.jpg) no-repeat;
    // background-size: cover;
    // background-position-x: 50%;
    background: #181819;
}

.back-button.show-back-button {
    z-index: 99999999;
}

ion-title {
    margin-left: -35px !important;
}

.bg-overlay {
    position: relative;
    background: url(./../assets/imgs/gulf6.jpg) no-repeat;
}

.btn-cls {
    background: transparent;
    padding-left: 0;
    background-color: transparent;
}

ion-icon {
    color: white;
}

.center {
    text-align: center;
}

// .autocomplete ul {
//   padding: 0;
//   margin: 0;
//   float: left;
//   width: 100%;
// }
// .autocomplete ul li {
//   list-style: none;
//   padding: 10px 20px;
//   font-size: 14px;
//   border-bottom: 1px solid #efe7e7;
// }
// .autocomplete {
//   background: white;
//   position: fixed;
//   max-height: 150px;
//   top : -1000px;
//   overflow-x: hidden;
//   overflow-y: auto;
//   z-index: 99999999999;
//   margin: 0px 15px;
//   width: calc(100% - 4rem);
// }
// #style-7::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #F5F5F5;
//   border-radius: 10px;
// }
// #style-7::-webkit-scrollbar {
//   width: 10px;
//   background-color: #F5F5F5;
// }
// #style-7::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
// }
.loading-wrapper {
    background: transparent !important;
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.logout {
    z-index: 99999999;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 21px;
    padding: 14px;
}

span.err {
    color: red;
    font-size: 13px;
    float: left;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.bgapply {
    background: gainsboro !important;
}

.tdbg {
    background: #736d6d !important;
    color: white !important;
}

td {
    text-align: center;
}
th{
    text-align: left !important;
}

td:first-of-type{
    text-align: left !important;
}