<!-- <ion-menu [content]="content" id="menu">
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title>JWSC</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="bg-overlay">
        <ion-list>
            <button class="btn-cls" ion-item menuClose="menu" detail-none (click)="nav.push('slot-booking')">
                Slot Booking
            </button>
            <button class="btn-cls" ion-item menuClose="menu" detail-none (click)="nav.push('tournaments')">
                Tournaments
            </button>
            <button  class="btn-cls" ion-item menuClose="menu" detail-none (click)="nav.push('rewards')">
                Rewards
            </button>
            <button  class="btn-cls" ion-item menuClose="menu" detail-none (click)="nav.push('notifications')">
                Notifications
            </button>
            <button  class="btn-cls" ion-item menuClose="menu" detail-none (click)="signOut()">
                Logout
            </button>
        </ion-list>
    </ion-content>

</ion-menu> -->
<ion-icon *ngIf="common.currPage != 'LoginPage'" (click)="common.logout()" class="logout" name="power"></ion-icon>
<ion-nav #content #nav [root]="rootPage"></ion-nav>