<ion-header>

  <ion-navbar>
    <ion-title>Score Card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="title"><b>Golfers</b></div>
      <span class="golfrs">{{players}}</span>&nbsp;
      <!-- <span class="golfrs">Mari</span>,&nbsp;
      <span class="golfrs">Mari</span>,&nbsp;
      <span class="golfrs">Mari</span> -->
    </ion-card-content>
  </ion-card>
  <div class="table-cls">
    <table>
      <thead>
        <tr>
          <th colspan="22">Score Card</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{currRow == index1 ? 'bgapply' : ''}}" *ngFor="let score of totalScoreCard;let index1=index;">
          <td class="{{(currCol == index2 && currRow == index1) ? 'tdbg' : ''}}" *ngFor="let item of score;let index2=index;">{{item}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ion-card>
    <ion-card-content>
      <div class="enter-score">
        <h4 class="sr-cls">Enter the Scores</h4>
        <div class="select-div">
          <label class="lblcls">Golfers</label>
          <select class="select-cls" name="golfer" (ngModelChange)="changeHoleGolfer($event,1)"  [(ngModel)]="currGolfer">
            <option *ngFor="let opt of golfers;let index3 = index" value="{{index3}}">{{opt.golfer}}</option>
          </select>
        </div>
        <div class="select-div">
          <label class="lblcls">Hole Name</label>
          <select class="select-cls" name="hole" (ngModelChange)="changeHoleGolfer($event,2)" [(ngModel)]="currHole">
            <option *ngFor="let opt of holes;let index4 = index" value="{{index4}}">{{opt}}</option>
          </select>
        </div>
        <div class="select-div">
          <label class="lblcls">Score</label>
          <div class="score-add">
            <div class="score-incre">
              <ion-icon (click)="scoreEnter(1)" class="icon-cls" name="md-remove"></ion-icon>
              <input type="text" readonly [(ngModel)]="score" name="score" class="input-cls">
              <ion-icon (click)="scoreEnter(2)" class="icon-cls" name="md-add"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card> 
</ion-content>

<ion-footer>
  <button ion-button (click)="saveScore()" class="footrbtn fl">Save</button>
  <button ion-button (click)="submitScore()" class="footrbtn fr">Sumbit</button>
</ion-footer>