page-score-card {
    .main_title {
        padding: 10px;
    }

    .table-cls {
        padding: 10px;
    }

    * {
        box-sizing: border-box;
    }

    html,
    body {
        max-width: 100vw;
    }

    table {
        margin: auto;
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        width: fit-content;
        max-width: 100%;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
    }

    td,
    th {
        border: solid rgb(200, 200, 200) 1px;
        padding: .5rem;
    }

    th {
        text-align: left;
        background-color: rgb(190, 220, 250);
        text-transform: uppercase;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: rgb(50, 50, 100) solid 2px;
        border-top: none;
    }

    td {
        white-space: nowrap;
        border-bottom: none;
        color: rgb(20, 20, 20);
    }

    td:first-of-type,
    th:first-of-type {
        border-left: none;
    }

    td:last-of-type,
    th:last-of-type {
        border-right: none;
    }

    .select-cls {
        float: right;
        width: 45%;
        margin-right: 10px;
        height: 30px;
    }

    label.lblcls {
        float: left;
        padding: 10px;
        width: 45%;
    }

    .select-div {
        float: left;
        width: 100%;
    }

    .score-add {
        width: 45%;
        float: right;
    }

    .input-cls {
        width: 40px;
        padding: 0 15px;
        border: 0 !important;
    }

    .icon-cls {
        color: #212121;
    }

    .score-incre {
        float: right;
        margin-right: 10px;
        border-radius: 3px;
        padding: 5px;
        border: 1px solid gainsboro;
    }

    .sr-cls {
        padding: 0px 0 15px 0px;
        text-align: center;
        font-weight: 600;
    }
    .footrbtn{
        width: 48%;
    }
}