<ion-header>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let item of notificationsList">
    <ion-card-content>
      <span>{{item.notification}}</span>
      <br>
      <span class="date">{{item.date | relativeTime}}</span>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="notificationsList.length==0">
    <ion-card-content>
      <div class="padcls center">There is no notification available.</div>
    </ion-card-content>
  </ion-card>
</ion-content>