page-slot-booking {
    // @import "bourbon";
    $bezier: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    $time: 300ms;
    $base-font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
    @mixin animated( $time: 300ms, $fillmode: both, $count: 1) {
        animation-duration: $time;
        animation-fill-mode: $fillmode;
        animation-iteration-count: $count;
    }
    body {
        background-color: #363E4A;
        font-family: $base-font-family;
        font-size: 16px;
        color: #ffffff;
        line-height: 1.5;
    }
    h1 {
        font-family: "Texta", $base-font-family;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
        color: rgb(27, 26, 26)
    }
    h2 {
        font-weight: 400;
        font-size: 24px;
        color: rgba(255, 255, 255, .4);
    }
    .overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(34, 33, 33, 0.459);
    }
    .container {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 20px 16px 40px 16px;
        transform: translateZ(0);
        text-align: center;
        background: #181819; //url('./../assets/imgs/gulf6.jpg');
    }
    .form-footer {
        margin-top: 2em;
    }
    .ui-input {
        position: relative;
        padding: 0;
        border: 0;
    }
    .ui-input input {
        font-family: $base-font-family;
        border: 0;
        background: none;
        padding: 10px 0 5px 0;
        font-size: 16px;
        outline: 0;
        width: 100%;
        color: white;
        tap-highlight-color: rgba(0, 0, 0, 0);
        touch-callout: none;
    }
    .ui-input input+label {
        position: relative;
        display: block;
        padding: 8px 0 8px 0;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: .0875em;
        font-weight: 500;
        text-align: left;
        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 1px;
        }
        &::before {
            background-color: rgba(255, 255, 255, .2);
        }
        &::after {
            transform: scaleX(0);
            transform-origin: left;
            transition: transform $time $bezier;
            background-color: #6EB1FF;
            height: 2px;
        }
        span {
            position: relative;
            color: rgba(255, 255, 255, .2);
            transition: color $time $bezier;
            &::after {
                content: attr(data-text);
                position: absolute;
                overflow: hidden;
                left: 0;
                transform: scaleX(1);
                white-space: nowrap;
                color: #fff;
                background-image: linear-gradient(to right, #4A90E2 50%, rgba(255, 255, 255, 0) 0%);
                background-position: 100% 50%;
                background-size: 200%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                backface-visibility: hidden;
                perspective: 1000;
                transform: translateZ(0);
                transition: background-position $time $bezier;
            }
        }
    }
    .ui-input input:focus,
    .ui-input input.error,
    .ui-input input:invalid,
    .ui-input input.filled {
        &+label {
            &::after {
                transform: scaleX(1);
                transform-origin: left;
            }
            span::after {
                // color: #4A90E2;
                background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 0%);
                background-position: 0% 50%;
            }
        }
    }
    .ui-input input.filled {
        color: #ffffff;
        &+label {
            &::after {
                background-color: #ffffff;
            }
            span::after {
                background-image: linear-gradient(to right, #ffffff 50%, rgba(255, 255, 255, 0) 0%);
                background-position: 0% 50%;
            }
        }
    }
    .ui-input input:focus {
        color: #6EB1FF;
        &+label {
            &::after {
                background-color: #6EB1FF;
            }
            span::after {
                background-image: linear-gradient(to right, #6EB1FF 50%, rgba(255, 255, 255, 0) 0%);
                background-position: 0% 50%;
            }
        }
    }
    .ui-input input.error,
    .ui-input input:invalid {
        color: #E66161;
        &+label {
            &::after {
                background-color: #E66161;
            }
            span::after {
                background-image: linear-gradient(to right, #E66161 50%, rgba(255, 255, 255, 0) 0%);
                background-position: 0% 50%;
            }
        }
    }
    .btn {
        border: 0;
        background-color: #50617A;
        padding: 18px 30px;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .0875em;
        font-weight: 500;
        color: #ffffff;
        font-family: $base-font-family;
        border-radius: 100px;
        outline: 0;
        transition: background-color $time $bezier, color $time $bezier;
    }
    .btn:focus,
    .btn:active,
    .btn:hover {
        background-color: #6EB1FF;
        color: white;
    }
    .__first,
    .__second,
    .__third,
    .__fourth {
        animation-name: fadeIn;
        animation-duration: 180ms;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }
    .__first {
        animation-delay: 0;
    }
    .__second {
        animation-delay: 80ms;
    }
    .__third {
        animation-delay: 180ms;
    }
    .__fourth {
        animation-delay: 360ms;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, -25%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .autocomplete {
        background: white;
        position: fixed;
        max-height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 99999999999;
        margin: 0px 15px;
        width: calc(100% - 4rem);
    }
    #style-7::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    #style-7::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    #style-7::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
    }
    .card-md {
        background: #4a4848;
        color: white;
    }
    .date {
        float: right;
        padding: 5px;
        color: rgb(255, 255, 255);
    }
    .spancls {
        float: left;
        padding: 5px;
        color: white;
    }

    .first{
      float: left;
      width: 100%;
    }
}