<ion-header>

  <ion-navbar>
    <ion-title>Slot Booking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="overlay"></div>
  <div class="container">
    <ion-card>
      <ion-card-content>
        <div class="first">
          <span class="spancls">Slot Date</span>
          <span class="date">{{urlParams?.date}}</span>
        </div>
        <div class="first">
          <span class="spancls">Slot Timing</span>
          <span class="date">{{urlParams?.time | date : 'hh mm a'}}</span>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <fieldset class="form-fieldset ui-input __first">
          <input [(ngModel)]="golfer1.member_name" name="golfer1" (focus)="openModal(1,$event)" (focusout)="closeAutoComplete()" type="text"
            id="username" tabindex="0" />
          <label for="username">
            <span data-text="Golfer 1">Golfer 1</span>
          </label>
          <span *ngIf="golferFlg1" class="err">This field is required</span>
        </fieldset>

        <fieldset class="form-fieldset ui-input __second">
          <input [(ngModel)]="golfer2.member_name" name="golfer2" (focus)="openModal(2,$event)" (focusout)="closeAutoComplete()" type="text"
            id="email" tabindex="0" />
          <label for="email">
            <span data-text="Golfer 2">Golfer 2</span>
          </label>
          <span *ngIf="golferFlg2" class="err">This field is required</span>
        </fieldset>

        <fieldset class="form-fieldset ui-input __third">
          <input [(ngModel)]="golfer3.member_name" name="golfer3" (focus)="openModal(3,$event)" (focusout)="closeAutoComplete()" type="text"
            id="new-password" />
          <label for="new-password">
            <span data-text="Golfer 3">Golfer 3</span>
          </label>
          <span *ngIf="golferFlg3" class="err">This field is required</span>
        </fieldset>
      </ion-card-content>
    </ion-card>

    <div class="form-footer">
      <button (click)="reserveSlot()" class="btn">Reserve Slot</button>
    </div>
  </div>
</ion-content>