<ion-header>

  <ion-navbar>
    <ion-title>{{tournament?.tournament}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="avator">
        <span class="img-span">
          <!-- <img [src]="imagUrl + tournament?.image" alt=""> -->
          <img [src]="imagUrl + '1.png'" alt="">
        </span>
      </div>
      <br>
      <div class="title">
        <b>{{tournament?.tournament}}</b>
      </div>
      <div class="dates" *ngIf="tournament?.opening_date && tournament?.closing_date">
        <b>Dates :</b>
        <span>{{tournament?.opening_date | date : 'MMM dd yyyy'}}</span> -
        <span>{{tournament?.closing_date | date : 'MMM dd yyyy'}}</span>
      </div>
      <div class="entryfee">
        <b>Entry Fee :</b> Rs. {{tournament?.entryfee}} /-</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <span class="title">
        <b>Available Sessions</b>
      </span>
    </ion-card-header>
    <ion-card-content *ngFor="let session of sessionList">
      <!-- <div class="avator">
        <span class="title">
          <b>Available Sessions</b>
        </span>
      </div> -->
      <br>
      <div class="title">
        <b>{{session?.session_name}} {{session?.session_time}}</b>
      </div>
      <div class="dates">
        <b>Session Date :</b>
        <span>{{session?.session_date | date : 'MMM dd yyyy'}}</span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer padding>
  <button (click)="openRegister()" ion-button class="btn btn-cls">Register</button>
  <button ion-button class="btn btn-cls">Edit</button>
</ion-footer>