page-tournament-detail {
    span.img-span {
        width: 100px;
        height: 100px;
        display: flex;
    }
    .avator {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ion-content {
        background: #181819 !important;
        background-color: #181819 !important;
    }
    .card-md {
        background: transparent !important;
        color: white;
    }
    .title {
        color: white !important;
    }

    ion-card-header{
        text-align: center;
    }
    ion-card-content{
        border-bottom: 1px solid rgb(196, 194, 194);
    }
    .btn-cls{
        width: calc(50% - 10px);
        background: #488aff;
    }
}